*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kalameh;
}
body{
    min-height: 100vh;
    background: #070707;
}
.popup{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
}
.content{
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(255,255,255,0.1);
}
.content .imgBox{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .imgBox::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: #e7ffe0;
    border-radius: 50%;
}
.content .imgBox img{
    position: relative;
    max-width: 250px;
    z-index: 1;
}
.content .text{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .text h3{
    color: #333;
    line-height: 1em;
    font-weight: 400;
    font-size: 2em;
}
.content .text h2{
    font-size: 3.5em;
    color: #ff4d54;
    line-height: 1.5em;
}
.content .text span{
    color: #333;
    font-size: 0.9em;
}
p{
    color: #444;
}
.content .text a{
    display: inline-block;
    padding: 10px 20px;
    background: #ff4d54;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
}
.close{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(close.jpg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}
.footer{
    width: 100%;
    background: #121215;
    position: fixed;
    border-top: 4px solid #ffcb0a;
    height: 56px;
    bottom: 0px;
  }
  .footer h3{
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding-top: 8px;
  }